<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '物件名' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :rent, '賃料' %><br>
    <%= f.text_field :rent %>円
  </div>

  <div class="field">
    <%= f.label :address, '住所' %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :building_age, '築年数' %><br>
    <%= f.text_field :building_age %>年
  </div>

  <div class="field">
    <%= f.label :remarks, '備考' %><br>
    <%= f.text_area :remarks %>
  </div>

  <hr>

  <% station_count = 1 %>
  <%= f.fields_for :stations, @rental.stations do |station| %>
    <h3>最寄り駅<%= station_count %></h3>

    <div class="field">
      <%= station.label :line_name, '路線名' %><br>
      <%= station.text_field :line_name %>
    </div>

    <div class="field">
      <%= station.label :station_name, '駅名' %><br>
      <%= station.text_field :station_name %>
    </div>

    <div class="field">
      <%= station.label :time, '徒歩分数' %><br>
      <%= station.text_field :time %>分
    </div>

    <% station_count += 1 %>
  <% end %>

  <% if action_name == 'edit' %>
    <%= f.submit '更新する' %>
  <% else %>
    <%= f.submit '登録する' %>
  <% end %>

<% end %>
